header {
  position: sticky;
  top: 0; right: 0; left: 0;
  z-index: 1;
  width: 100%; height: 70px;
  background-color: #fff;
  font-size: 15px;
}

/* gnb */
.gnb_container {
  width: 1200px; height: 70px;
  margin: auto;
}
.gnb {
  overflow: hidden;
  width: fit-content; height: 180px;
  max-height: 70px;
  margin: auto;
  transition: all 0.5s;
}
.gnb > li {
  float: left;
  width: 100px;
  text-align: center;
  line-height: 70px;
  transition: all 0.5s;
}

.gnb .logo {width: 430px; height: 70px;}
.gnb .logo img {
  padding: 10px 0;
  transition: all 3s;
}
.gnb .logo img:hover {transform: rotateX(-360deg);}

/* lnb */
.gnb .lnb {margin: 10px 0 20px;}
.gnb .lnb > li {
  font-size: 13px;
  color: #333;
  line-height: 30px;
}
.gnb .lnb > li:hover {opacity: 0.7;}

.bg_lnb {
  position: absolute;
  top: 70px; left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  width: 100%; height: 11px;
  max-height: 0;
  background-color: #fff;
  border-bottom: #f6c9c9 1px solid;
  transition: all 0.5s;
}

/* snb */
.snb_container {
  position: absolute;
  top: 0; right: 0;
  width: 50px;
  line-height: 70px;
}
.snb_container > i {
  font-size: 20px;
  cursor: pointer;
}
.snb_container > i:hover {color: #f0616e;}
aside {
  position: fixed;
  top: 0; right: -300px; bottom: 0;
  z-index: 999;
  width: 300px;
  background-color: #2f4858;
  color: #fff;
  transition: all 0.5s;
}

aside > .btn_close {
  width: 100%; height: 50px;
  padding-right: 25px;
  font-size: 20px;
  text-align: right;
  cursor: pointer;
  transition: all 0.3s;
}
aside > .btn_close > i:hover {opacity: 0.7;}

aside > .snb {
  margin: 80px 50px 100px;
}
aside > .snb > li {
  font-size: 20px;
  text-indent: 5px;
  text-align: left;
  line-height: 55px;
  transition: all 0.3s;
}
aside > .snb > li:hover {text-indent: 0px;}

aside > .snb_icon {margin: 15px;}
aside > .snb_icon > li {
  float: left;
  width: 50%;
  padding: 0 10px;
  text-align: center;
  line-height: 35px;
}
aside > .snb_icon > li:first-child {border-right: 1px solid #999;}
aside > .snb_icon > li:hover > * {opacity: 0.7;}
aside > .snb_icon * {transition: all 0.3s;}